

.navbar2 {
    background-color: #ee6e73;
    color: white;
}

.navfont {
    color: #ffffff;
}

.navfontAbout {
    color: #ffffff;
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}


.bodybackground {
    /* background-color: #f0f8ff;  */
    text-align: center;
    
}